# LECCION 01: EJERCICIOS VARIABLES

In [1]:
#crea tres variables numéricas de tipo entero, llamadas de la siguiente forma: nuemero 1 numero 2 numero 3

variable_1 = "numero1"
variable_2 = "numero2"
variable_3 = "numero3"

print (variable_1)
print (variable_2)
print (variable_3)

numero1
numero2
numero3

In [7]:
# Ahora creamos la varible numérica tipo entero que en python es un integer nos va a aparecer 1 2 y 3

numero_1 = 1
numero_2 = 2
numero_3 = 3

print (numero_1)
print (numero_2)
print (numero_3)

1
2
3

In [9]:
# crea dos variables de tipo float (decimal) con dos desimales, llamas de la siguiente forma: altura1 altura2

altura1 = 1,60
altura2 = 1,72
print (altura1)
print (altura2)

(1, 60)
(1, 72)

In [25]:
# ¿cual es la suma de las dos alturas?
altura1 = 1.60
altura2 = 1.72
1.60 + 1.70

3.3

In [ ]:
# ¿cual es la diferencia de las dos alturas?

1.60 - 1.70

-0.09999999999999987

In [ ]:
# ¿cual es la divsión de las dos alturas?
1.60 / 1.70

0.9411764705882354

In [ ]:
# ¿cual es el resultado de la división de las dos alturas, redondeado el rsultado a un decimal?

In [4]:
# Escribid un programa usando funcion input() que le pregunta al usuario su nombre y apellido

nombre = "alicia"
apellido1 = "pais"
apellido2 = "maravilla"

In [5]:
nombre_completo = nombre + " " + apellido1 + " " + apellido2
print(nombre_completo)

alicia pais maravilla

In [6]:
# Escribid un programa usando funcion input() que le pregunta al usuario su nombre y apellido
nombre_completo = input()
print (nombre_completo)

alicia pais maravilla

In [12]:
print(nombre, apellido1, apellido2)

alicia pais maravilla

In [18]:

# una vez que tenemos el nombre de la persona usaria: imprimir su nombre y apellidos en mayúsculas
print(nombre_completo.upper())

ALICIA PAIS MARAVILLA

In [23]:
# imprimir el nombre en minusculas
print(nombre.lower())

alicia

In [27]:
#Printead su nombre y apellidos con la primera letra del nombre y los apellidos en mayusculas
#y el resto en minusculas
print(nombre_completo.title())

Alicia Pais Maravilla

In [32]:
#printead solo la primera letra del nombre en mayusculas

print(nombre.title(), apellido1, apellido2)

Alicia pais maravilla

In [39]:
# Escribid un programa usando la funcion input()que:
# le pregunte a la persona usuaria por la lista de la compra, separando cada elemento por comas
# devolved la lista de compra donde veamos cada elemento en una linea 

compra1 = "pera"
compra2 = "manzana"
compra3 = "platanos"
lista_de_compra = ["pera", "manzana", "platanos"]

In [49]:
lista_compra = input()
print (lista_compra)

platanos

In [50]:
lista_compra = "pera, manzana, platanos"

In [51]:
lista_de_compra_separada = lista_compra.split()
lista_de_compra_separada

['pera,', 'manzana,', 'platanos']

In [57]:
resultado_del_input = ["peras", "manzana", "platanos"]
lista_compra = (compra1, compra2,compra3)
print (lista_compra)

('pera', 'manzana', 'platanos')

In [62]:
resultado_del_input = " ".join(lista_compra)
resultado_del_input

'pera manzana platanos'

In [79]:
lista_compra1 = "peras manzanas platanos"

In [95]:
resultado_separado = lista_compra1.split()
resultado_separado

['peras', 'manzanas', 'platanos']

In [96]:

resultado_separado = lista_compra1.split("\n")
resultado_separado

['peras manzanas platanos']

In [97]:
resultado_separado = " ".join(lista_compra1)
resultado_separado

'p e r a s   m a n z a n a s   p l a t a n o s'

In [98]:

don_quijote_separado = don_quijote.split()
don_quijote_separado

NameError: name 'don_quijote' is not defined

In [ ]:
don_quijote_separado = don_quijote.split("\n")
don_quijote_separado